<div class="hero">
  <nav>
    <img class="logo" src="assets/one/logo.png" alt="">
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>

    <div>
      <a href="#" class="login-btn">Login</a>
      <a href="#" class="btn">Download App</a>
    </div>
  </nav>

  <div class="content">
    <h1 class="anim">Делать<br>Новые друзья</h1>
    <p class="anim">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    <a href="#" class="btn anim">Join Now</a>
  </div>

  <img src="assets/one/pic.png" alt="" class="feature-img anim">
</div>
